node_modules
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/default-development/6.pack

node_modules/.cache/default-development/18.pack
node_modules/.cache/default-development/19.pack
node_modules/.cache/default-development/20.pack
node_modules/.cache/default-development/index.pack
